footer * {
  color: lightgrey;
  }

footer button {
  border: none;
  background: white;
  &:focus {
    outline: solid 1px lightgrey;
  }
}

footer {
  position: relative;
  .remaining{
    position: absolute;
    left: 9px;
    top: -4px;
  }
  .clear {
    position: absolute;
    right: 2px;
    top: 10px;
    &:focus {
      outline: none;
    }
    &:active{
      outline: solid 1px lightgrey;
    }
  }
}
