form {
  border: none;
  border-bottom: 1px solid lightgrey;
  input {
    font-size: 30px;
    line-height: 2;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-style: italic;
    border: none;
    &::-webkit-input-placeholder {
      color: lightgrey;
    }
  }
}


li article.editing{

}

li article {
  border-bottom: thin lightgrey solid;
  text-align: left;
  font-size: 25px;
  line-height: 2;
  // padding: 10px 0;

  button.check {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: white;
    border: lightgrey solid 1px;
    margin: 0 10px;
  }

  p {
    opacity: 1;
    &:focus {
      opacity: 0;
      ~ input.edit-todo {
        opacity: 1;
      }
    }
  }

  p.complete {
    text-decoration: line-through;;
    opacity: 1;
    &:focus {
      opacity: 0;
      ~ input.edit-todo{
        opacity: 1;
      }
    }
  }

  input.edit-todo {
    border: none;
    // position: absolute;
    opacity: 0;
    background: transparent;
    left: 55px;
  }

  button.delete {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    transform: scaleY(.8);
    color: red;
    opacity: 0;
    transition: all .2s;
    &:hover {
      opacity: 1;
      transition: all .4s;
    }
  }

}

footer {
  // padding: 10px 0;
}

footer * {
  color: lightgrey;
  }

footer button {
  border: none;
  background: white;
  &:focus {
    outline: solid 1px lightgrey;
  }
}
