li {
  position: relative;
  form {
    border: none;
  }
}

li article { //default styling for newly created, inactive article
  border-bottom: thin lightgrey solid;
  text-align: left;
  font-size: 25px;
  line-height: 2;
  overflow: hidden;

  button.check {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: white;
    border: lightgrey solid 1px;
    margin: 0 10px;
    color: green;
    position: relative;
    @include mobile {
    padding: 0;
    margin: 4px 4px;
    position: relative;
    top: 5px;
    }
    span {
      display: none;
    }
  }

  .taskContainer {
      display: inline-block;
      width: 80%;
      white-space: nowrap;
      &:hover ~ .highlight {
        background: whitesmoke;
      }
  }

  p {
    position: relative;
    z-index: 1;
    &:hover {
      cursor: crosshair;
    }
  }

  input {
    display: none;
  }

  &.completed { // for completed articles
    p {
      text-decoration: line-through;
    }
    .check{
      @include mobile {
      padding: 0;
      margin: 4px 4px;
      position: relative;
      top: 5px;
      }

      span {
        display: inherit;
        position: absolute;
        left: 5px;
        top: -9px;
        transform: scale(1.7);
      }
    }
  }

  &.editing {

    p {
      display: none;
    }

    .item-input{
      position: absolute;
      width: 85%;
      left: 52px;
      bottom: -9px;
    }

    input {
      text-align: left;
      font-size: 25px;
      font-style: normal;
      display: inline-block;
      line-height: initial;
      padding: 5px 0 5px 4px;
      margin: 0;
      border: 1px lightgrey dotted;
      width: 100%;
      -webkit-box-shadow: inset 0px 0px 29px 1px rgba(0,0,0,0.06);
    }

    .highlight {
      display: none;
    }

  }

}

li .highlight {
  position: absolute;
  width: 85%;
  height: 44px;
  margin: 3px 24px 3px 51px;
  top: 0;
  right: 0;
  transition: all .2s;
  @include mobile {
    width: 77%;
    opacity: 0;
  }
  &:hover{
    background: whitesmoke;
    cursor: crosshair;
    transition: all .2s;
  }
}
