div.card {
  background: white;
  display: inline-block;
  width: 500px;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 0 50px;
  position: absolute;
  transform-origin: center;
  transform: translateX(-50%);
  @include mobile {
    width: 100%;
  }

  .delete, .plus {
    line-height: 2;
    font-size: 25px;
    display: hidden;
    position: absolute;
    top: 0;
    border: none;
    background: none;
    opacity: 0;
    transition: all .2s;
    @include mobile {
      opacity: 0.2;
    }
    &:hover {
      opacity: 1;
      transition: all .4s;
    }
  }

  .delete {
    transform: scaleY(0.8);
    right: 0px;
    padding-right: 10px;
    color: red;
    z-index: 1;
    background: white;
  }

  .plus{
    left: 10px;
    color: green;
    transform: scale(1.3);
  }

}
