@import 'variables';
@import 'normalize';
@import 'layout';
@import 'form';
@import 'items';
@import 'footer';

* {
  box-sizing: border-box;
  font-weight: 100;
  &:focus {
    outline: none;
  }
}

#debug{
  position: fixed;
  top: 30px;
  right: 30px;
  height: 70px;
  width: 70px;
  border: none;
  background: lightblue;
  border-radius: 40px;
  &:active {
    background: pink;
  }
}

body {
    background-color: $backgroundColor;
    font-family: $primaryFont;
}

header {
  text-align: center;
}

main {
  // width: 500px;
  text-align: center;
  form, footer{
    padding: 10px 0;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  article *, footer * {
    display: inline;
  }
}
